<!-- <nav class="navbar navbar-expand-md navbar-dark " style="background-color: #e3f2fd;"> -->
  <nav class="navbar navbar-expand-md navbar-dark  " style="background-color: #07c9c9;"> 
    <div class="container-fluid">
      <a class="navbar-brand" routerLink="/home">
        <img src="assets/logo.png" width="150" height="50" class=" d-inline-block align-top rounded" alt="">
      </a>
      
      
     
      
      <!-- <ul class="navbar-nav fw-bold m-1">
        <li class="nav-item">
         <button class="btn button-image btn-outline-info no-border"  >  <a routerLink="/cart"><img src="assets/cart.png" alt=""></a></button>
        </li>
        <li><button class="btn">  <a routerLink="/">Logout</a></button></li>
      </ul> -->
      

      <ul class="navbar-nav fw-bold m-1">
        <li *ngIf="userService.isAdmin" >
          <button class="btn text-white  btn-outline-info add-button white-border  mt-3">
            <a routerLink="/addProduct">Edit Products</a>
          </button>
        </li>
        <li class="nav-item set-margin">
          <button class="btn button-image  btn-outline-info no-border">
            <a routerLink="/cart">
              <img src="assets/cart.png" alt="">
            </a>
          </button>
        </li>
        <li>
          <button class="btn text-white white-border logout-button mt-3">
            <a (click)="logout()" routerLink="/">Logout</a>
          </button>
        </li>
      </ul>
      
    </div>
  </nav>
  