.no-border{
    border: none;
}
.white-border{
    border: 1px solid white;
}
.test{
    width: 350px;
}
.add-button a{
  color: inherit;
  text-decoration: none;
}

  
  .logout-button:hover {
    background-color: #d32f2f; 
  }
  
  .logout-button a {
    color: inherit; 
    text-decoration: none; 
  }

.set-margin{
    margin-right: 10px;
}
  